@model Dauros.StellarisREG.Web.ViewComponents.SelectStateModel
<div class="row w-100">
    <div class="col">
        <div class="row">
            <div class="col" id="ps_origin">
                <h4>Origins</h4>
                <ul>
                    @foreach (var origin in Model.ValidOrigins)
                    {

                        var id = String.Format("vorigin{0}", Model.ValidOrigins.IndexOf(origin));
                        <li>
                            @Html.RadioButton("origin", origin, false, new { id = id })&nbsp;@Html.Label(id, origin)
                        </li>
                    }
                    @foreach (var origin in Model.ProhibitedOrigins)
                    {

                        var id = String.Format("porigin{0}", Model.ProhibitedOrigins.IndexOf(origin));
                        <li>
                            @Html.RadioButton("origin", origin, false, new { id = id })&nbsp;@Html.Label(id, origin, new { @class = "ps_prohibited" })
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col" id="ps_ethics">
                <h4>Ethics</h4>
                <ul>
                    @foreach (var ethic in Model.SelectedEthics)
                    {
                        <li>
                            @Html.CheckBox(ethic, true)&nbsp;@Html.Label(ethic, ethic, new { @class = "ps_selected" })
                        </li>
                    }
                    @foreach (var ethic in Model.ValidEthics)
                    {
                        <li>
                            @Html.CheckBox(ethic, false)&nbsp;@Html.Label(ethic, ethic)
                        </li>
                    }
                    @foreach (var ethic in Model.ProhibitedEthics)
                    {
                        <li>
                            @Html.CheckBox(ethic, false)&nbsp;@Html.Label(ethic, ethic, new { @class = "ps_prohibited" })
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col" id="ps_auth">
                <h4>Authority</h4>
                <ul>

                    @if (!String.IsNullOrWhiteSpace(Model.SelectedAuthority))
                    {
                        var id = String.Format("vauthority0");
                        <li>
                            @Html.RadioButton("vauthority", Model.SelectedAuthority, true, new { id = id })&nbsp;@Html.Label(id, Model.SelectedAuthority, new { @class = "ps_selected" })
                        </li>
                    }
                    @foreach (var auth in Model.ValidAuthorities)
                    {
                        var id = String.Format("vauthority{0}", Model.ValidAuthorities.IndexOf(auth));


                        <li>
                            @Html.RadioButton("vauthority", auth, false, new { id = id })&nbsp;@Html.Label(id, auth)
                        </li>

                    }
                    @foreach (var auth in Model.ProhibitedAuthorities)
                    {
                        var id = String.Format("pauthority{0}", Model.ProhibitedAuthorities.IndexOf(auth));
                        <li>
                            @Html.RadioButton("pauthority", auth, false, new { id = id })&nbsp;@Html.Label(id, auth, new { @class = "ps_prohibited" })
                        </li>

                    }
                    @if (!String.IsNullOrWhiteSpace(Model.SelectedAuthority))
                    {
                        <li><a id="authds">Deselect authority</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col" id="ps_civics">
                <h4>Civics</h4>
                <ul>
                    @foreach (var civic in Model.SelectedCivics)
                    {
                        var id = String.Format("scivic{0}", Model.SelectedCivics.IndexOf(civic));
                        <li>
                            @Html.CheckBox(civic, true)&nbsp;@Html.Label(civic, civic, new { @class = "ps_selected" })
                        </li>
                    }
                    @foreach (var civic in Model.ValidCivics)
                    {
                        var id = String.Format("vcivic{0}", Model.ValidCivics.IndexOf(civic));
                        <li>
                            @Html.CheckBox(civic, false)&nbsp;@Html.Label(civic, civic)
                        </li>
                    }
                    @foreach (var civic in Model.ProhibitedCivics)
                    {
                        var id = String.Format("pcivic{0}", Model.ProhibitedCivics.IndexOf(civic));
                        <li>
                            @Html.CheckBox(civic, false)&nbsp;@Html.Label(civic, civic, new { @class = "ps_prohibited" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
